<div class="container">
  <div class="row">
    <div class="col-12 pt-4 pb-4">
         <fieldset class="form-group mb-0 search-input-container">
           <input type="text" class="form-control" placeholder="Search">

<!--            <ul class="autocomplete-container list-group">
             <a href="#" class="list-group-item-action list-group-item">Amber Haag @Nellie_Greenholt39</a>
             <a href="#" class="list-group-item-action list-group-item">Anastasia Williamson @Toni.Will84</a>
             <a href="#" class="list-group-item-action list-group-item">Abigale Connelly @Nikita12</a>
             <a href="#" class="list-group-item-action list-group-item">Alva Wisozk @Rosalind_Abshire</a>
             <a href="#" class="list-group-item-action list-group-item">Adriel Hauck @Katelynn_Ortiz29</a>
           </ul> -->

         </fieldset>
       </div>
    </div>
  </div>
</div>
