<div class="container-fluid">
  <div class="col-12">
    <div class="table-responsive">
      <table class="bg-white table table-bordered table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>#</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Username</td>
          </tr>
          <tr>
            <td>#</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Username</td>
          </tr>
          <tr>
            <td>#</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Username</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
